@charset "UTF-8";
/*
 * reset.css
 *
 *  version --- 1.0
 *  updated --- 2017/11/30
 */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap');
/* !HTML5 elements
---------------------------------------------------------- */
header, footer, nav, section, aside, article {
    display: block;
}

/* !Reseting
---------------------------------------------------------- */
body, div, pre, p, blockquote, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, th, td {
    margin: 0;
    padding: 0;
}

input, textarea {
    margin: 0;
    font-size: 100%;
}

label {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 100%;
}

fieldset, img {
    border: 0;
}

img {
    vertical-align: top;
    max-width: 100%;
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}

q:after, q:before {
    content: '';
}

a, input, select, textarea, button {
    outline: none;
}

abbr, acronym {
    border: 0;
}

select::-ms-expand {
    display: none;
}

select, input[type=text], input[type=password], input[type=email], input[type=tel], input[type=number], input[type=reset], input[type=button], input[type=submit], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -moz-appearance: textfield;
    overflow: auto;
    border: none;
    border: 0;
    font-family: inherit;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 0;
}

input[type=text]::-ms-clear, input[type=tel]::-ms-clear, input[type=number]::-ms-clear {
    display: none;
}

input[type=reset], input[type=button], input[type=submit] {
    font-family: inherit;
    font-family: 'Noto Sans JP', sans-serif;
    cursor: pointer;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

select::-ms-expand {
    display: none;
}

input[type=radio]::-ms-check, input[type=checkbox]::-ms-check {
    display: none;
}

/* !Clearfix
---------------------------------------------------------- */
.clearfix {
    display: block;
    min-height: 1%;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

* html .clearfix {
    height: 1%;
    /*\*/ /*/
	height: auto;
	overflow: hidden;
	/**/
}

/* !Layout
---------------------------------------------------------- */
html {
    overflow-y: scroll;
    font-size: 62.5%;
}

html.wf-active {
    visibility: visible;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.6rem;
	font-weight: 500;
    -webkit-text-size-adjust: none;
    line-height: 1.5;
    color: #111;
    font-feature-settings: 'palt';
}

.notos {
    font-family: 'Noto Sans JP', sans-serif;
}
.font_nitalago{
	font-family: nitalago-ruika, sans-serif; 
}
.font_dnp{
	font-family: dnp-shuei-shogomincho-std, sans-serif;
	font-weight: 700;
}
.font_atrament{ 
	font-family: atrament-web, sans-serif;
	font-weight: 300;
	font-style: italic;
}



@media screen and (max-width: 959px) {
    body {
        font-size: 1.4rem
    }

}

/* !Base Fonts -------------------------------------------------------------- */
a {
    color: #000;
    text-decoration: none;
    transition: all 0.5s !important;
    -moz-transition: all 0.5s !important; /* Firefox */
    -webkit-transition: all 0.5s !important; /* Chrome&Safari */
}

a:hover {
    text-decoration: none;
    opacity: .6;
    transition: all 0.5s !important;
    -moz-transition: all 0.5s !important; /* Firefox */
    -webkit-transition: all 0.5s !important; /* Chrome&Safari */
}

.op img, .op input {
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

.op:hover img, .op:hover input {
    opacity: .6;
    -webkit-opacity: .6;
    -moz-opacity: .6;
    filter: alpha(opacity=60); /* IE lt 8 */
    -ms-filter: "alpha(opacity=60)"; /* IE 8 */
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

.fwN {
    font-weight: normal;
}

.fwB {
    font-weight: bold;
}

.fs10 {
    font-size: 1.0rem;
}

.fs11 {
    font-size: 1.1rem;
}

.fs12 {
    font-size: 1.2rem;
}

.fs13 {
    font-size: 1.3rem;
}

.fs14 {
    font-size: 1.4rem;
}

.fs15 {
    font-size: 1.5rem;
}

.fs16 {
    font-size: 1.6rem;
}

.fs17 {
    font-size: 1.7rem;
}

.fs18 {
    font-size: 1.8rem;
}

.fs19 {
    font-size: 1.9rem;
}

.fs20 {
    font-size: 2.0rem;
}

.fs21 {
    font-size: 2.1rem;
}

.fs22 {
    font-size: 2.2rem;
}

.fs23 {
    font-size: 2.3rem;
}

.fs24 {
    font-size: 2.4rem;
}

.fs25 {
    font-size: 2.5rem;
}

sup {
    font-size: 8px;
    vertical-align: top;
}

sub {
    font-size: 8px;
    vertical-align: baseline;
}

/* !Inline Align ------------------------------------------------------------ */
.taL {
    text-align: left !important;
}

.taC {
    text-align: center !important;
}

.taR {
    text-align: right !important;
}

.vaT {
    vertical-align: top !important;
}

.vaM {
    vertical-align: middle !important;
}

.vaB {
    vertical-align: bottom !important;
}

.blockC {
    margin-right: auto;
    margin-left: auto;
    text-align: left;
}

* html .blockC {
    margin-right: 0;
    margin-left: 0;
}

.blockR {
    margin-left: auto;
    text-align: left;
}

* html .blockR {
    margin-left: 0;
}

/* !Width ------------------------------------------------------------------- */
.w03per {
    width: 3% !important;
}

.w05per {
    width: 5% !important;
}

.w10per {
    width: 10% !important;
}

.w13per {
    width: 13% !important;
}

.w15per {
    width: 15% !important;
}

.w20per {
    width: 20% !important;
}

.wQuart {
    width: 25% !important;
}

.w30per {
    width: 30% !important;
}

.wTri {
    width: 33.33% !important;
}

.w35per {
    width: 35% !important;
}

.w40per {
    width: 40% !important;
}

.w45per {
    width: 45% !important;
}

.wHalf {
    width: 50% !important;
}

.wMax {
    width: 100% !important;
}

/* !Floats ------------------------------------------------------------------ */
.flL {
    display: inline;
    float: left;
}

.flR {
    display: inline;
    float: right;
}

.flImgL {
    display: inline;
    float: left;
    margin-right: 10px;
}

.flImgR {
    display: inline;
    float: right;
    margin-left: 10px;
}

.ftBox {
    overflow: hidden;
}

/* !Tools ------------------------------------------------------------------- */
.clear {
    clear: both;
}

.block {
    display: block !important;
}

.bgN {
    background: none !important;
}

.tdU {
    text-decoration: underline;
}

.tdN {
    text-decoration: none;
}

/*add*/
*{ 
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.flexBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexBox02 {
    display: flex;
    align-items: center;
}

.bgImg {
    box-sizing: border-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.telLink {
    pointer-events: none;
}

.sp02 {
    display: none;
}

.spInline {
    display: none;
}

@media screen and (max-width: 959px) { 

    .telLink {
        pointer-events: auto;
    }

    .spInline {
        display: inline-block;
    }

}

@media screen and (max-width: 767px) {
    .pc02 {
        display: none;
    }

    .sp02 {
        display: block;
    }

}
